*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    
    display: grid;
    height: 100vh;
    grid-template-columns: 15vh 1fr;
    grid-template-rows: 10vh 1fr 8vh;


    grid-template-areas: 
    "header  header"
    "sidebar content"
    "footer  footer" 
    ;
}
header{
    background-color: yellowgreen;
    display: grid;
    align-items: center;
    justify-items: center;
    grid-area: header;
}

.sidebar{
    grid-area:sidebar;
}

main {
    grid-area: content;
    padding: 5px;

    /*Grid interior*/
    display: grid;
    gap: 1vh;
    grid-template-columns: repeat(auto-fill, minmax(25vh, 1fr));
    grid-auto-rows: 25vh;
}

footer{
    background-color: burlywood;
    width: 100vw;
    display: grid;
    grid-template-columns: 15vh 1fr 15vh;
}

footer div{
    display: grid;
    align-items: center;
    justify-items: center;
}

main div{
    background-color: bisque;
    display: grid;
    align-items: center;
    justify-items: center;
}